.scoreboard {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    text-align: center;
    background-color: #131111;
  }
  
  .scoreboard h2 {
    margin: 0 0 10px;
  }
  
  .scoreboard p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
  }
  